@model Ezz_Store.PL.ViewModels.CategoryFormVM
@{
    ViewData["Title"] = "Create Category";
}

<h2 class="section-title">Create Category</h2>
<partial name="_CategoryForm" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}