@model Ezz_Store.PL.ViewModels.CategoryFormVM
@{
    ViewData["Title"] = "Edit Category";
}

<h2 class="section-title">Edit Category</h2>
<partial name="_CategoryForm" model="Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}